* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}


a {
    text-decoration: none;
    margin: 5px;
    color:rgba(0,0, 0, 0.75);
}
a:hover{
    text-decoration: underline;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    align-items: center;
}


.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 98%;
    margin: 15px;
    color:rgba(0,0, 0, 0.75);
    align-items: center;
}

.navbar .right {
    align-items: center;

}

.navbar .right button {
    background-color: rgb(92, 92, 219);
    border: none;
    border-radius: 2px;
    color: white;
    padding: 5px 15px;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 25%;
    width: 50%

}

.container input {
    outline: none;
    height: 2.5em;
    border: none;
    padding: 0px;
    width: 90%;
}



.input {
    border-radius: 30px;
    border: 1px solid #c7c7c7f2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 4em;
}

.material-icons {
    color:#aaa9a9;
    margin: 5px;
}

.buttons button{
    background: #f2f2f2;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    color: #5F6368;
}

.buttons button:hover {
    color: black;
    border: 1px solid #c6c6c6;
    cursor: pointer;
    padding: 9px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);

}

.left, .right {
    display: flex;
    
}

.footer {
    background: #f2f2f2f2;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    padding: 8px;
    border: 1px solid #e2e2e2f2;
    
}

.footer a {
    color: #5F6368;
    padding: 0 5px;
}

.navbar .material-icons:hover {
    color: rgba(0,0, 0, 0.87);
    cursor: pointer;
}


.input:hover {
    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
}
